# ============================================================
# ENTORNO PYTHON
# ============================================================

.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd


# ============================================================
# VARIABLES PRIVADAS
# ============================================================

.env
.env.*

# ============================================================
# BIN LIGHT — ARTEFACTOS GENERADOS / DEPURACION
# ============================================================

# PyInstaller
build/
dist/

# ============================================================
# INSTALADOR / INNO SETUP
# ============================================================

# Instaladores y archivos generados
installer/

# ============================================================
# ARCHIVOS TEMPORALES / EDITORES
# ============================================================

*.tmp
*.temp
*.bak
*.swp
*~

# Logs locales
*.log


# ============================================================
# IDE / SISTEMA OPERATIVO
# ============================================================

.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini